.ReviewList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 30%;
  gap: 1rem;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  padding: 1rem 1rem;
}
