.ProductListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgba(30, 30, 30, 0.5);
  box-shadow: 1px 2px 5px 2px rgba(58, 58, 58, 0.5);
  border-radius: 1rem;
  padding: 1rem;

  * {
    margin: 0.5rem 0;
  }

  img {
    width: 100%;
    border-radius: calc(1rem / 2);
  }

  h3 {
    text-align: right;
    margin-top: -1rem;
  }

  a {
    bottom: 0;
  }
}
